
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="logo.png" alt="Logo" style="height: 30px; width: auto;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Family directory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Gallery</a>
        </li>
      </ul>
      <form class="d-flex align-items-center">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
        <button class="btn btn-danger flex-grow-0 ms-2" type="button" style="white-space: nowrap;">LOG OUT</button>
      </form>
    </div>
  </div>
</nav>