<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img
        src="../../assets/images/logo.png"
        alt="Csa logo"
        style="height: 30px; width: auto"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar" *ngIf="isAuthenticated">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" role="button">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button">Family directory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button">Gallery</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <button class="btn btn-success" *ngIf="isAdmin">Hi Admin</button>
        <button
          class="btn btn-danger flex-grow-0 ms-2"
          type="button"
          (click)="onLogout()"
          style="white-space: nowrap"
        >
          Log Out
        </button>
      </div>
    </div>
  </div>
</nav>
