<main>
  <div class="container">
    <div class="row">
      <div class="col-12 my-2">
        <h2 class="pt-3"><app-back-button></app-back-button> Notifications</h2>
        <div class="row g-3">
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="assets\images\vision.png"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">VISION</h5>
                <p class="card-text">
                  To impart education to all in a healthy environment to build a
                  strong nation of responsible citizens and to promote literacy
                  and craftsmanship in our country. To foster a spirit of unity
                  and to shape a nation of enlightened and responsible citizens
                  through such educational institutions.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="assets\images\mission.png"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">MISSION</h5>
                <p class="card-text">
                  To plan, provide, and coordinate the provision of services in
                  the cause of education, in particular to its member
                  constituents, especially in the matter of the sharing of
                  personnel, solving problems with curricula, and valuing
                  education.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="assets\images\objectives.png"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">OBJECTIVES</h5>
                <p class="card-text">
                  To advise and guide member constituents and other educational
                  institutions and educators as they seek assistance on all
                  matters related to education, whether administrative, legal,
                  financial, or otherwise. To constitute, offer, and grant
                  prizes, awards, scholarships, and stipends in furtherance of
                  the objects of the CSA and to take over the administration of
                  scholarships and prizes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
