<!-- Main Body -->
<main class="container-fluid py-2">
    <!-- Image cover with title -->
    <div class="row">
        <div class="col-12 mb-2">
            <section class="body-header rounded text-center text-primary">
                <h2>St Mary's Church</h2>
            </section>
        </div>
    </div>
    <!-- Different naviagation boxes -->
    <div class="row my-2 body-content">
        <div class="col-12">
            <div class="row g-3">
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let item of bodyItems">
                    <div class="card text-center" style="cursor: pointer;">
                        <div class="card-body d-flex  flex-column justify-content-center align-items-center">
                            <i class="bi bi-bell"></i>
                            <div class="card-title">{{ item }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>