body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eff3f6;
    margin-top:20px;
    }
    .thumb-lg {
    height: 88px;
    width: 88px;
    }
    .card {
    border: none;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
    }
    .m-b-30 {
    margin-bottom: 30px;
    }
    .social-links li a {
    -webkit-border-radius: 50%;
    background: #fcfdfd;
    border-radius: 50%;
    color: #9f9f9f;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    }

.container-fluid{
    background-color: #3060a8;
    padding-top: 16px;
    height: 100vh;
}
.navbar-default{background:#3285D1;border-color: #3285D1;}
.navbar-default .navbar-nav > li > a{color:#FFF;}
.nav > li > a{margin:15px; font-size: 17px; color:#FFF;}
.nav .open > a, .nav .open > a:hover, 
.nav .open > a:focus,
.nav > li > a:hover, .nav > li > a:focus{background-color:transparent !important;}

.navbar-brand{    
    margin: 15px !important;
    padding: 13px !important;
    color: #fff !important;
    font-size: 2em !important;
    font-weight: bold !Important;
    }
    
.navbar-toggle{margin-top:20px !important;}
.dropdown-menu{background:#fff !important;}
.navbar-login
{
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
.navbar-nav{
    display: flex;
}
header {
    background-color: #000000;
    padding: 7px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-profile {
    display: flex;
    align-items: center;
    
}

.login-profile img {
    width: 133px;
    height: 133px;
    border-radius: 50%;
    margin-right: 8px;
}

.home-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}